<ul>
  <table align="center">
    <tr>
      <th text-align="center"> Name </th>
    </tr>
    <% @dataArray.each do |name| %>
        <tr>
          <td align="center"><%="#{name[0]}"%></td>
        </tr>
    <% end %>
  </table>
</ul>