<h1 style="margin-left: 80px">Dungeon Master Page</h1>
<p style="margin-left: 80px">This page is to provide all the tools for maintaining NPCs across multiple campaigns,
and some other misc tools</p>

<h3 style="margin-left: 80px">DM/Players</h3>

<form action='/dataView' method='GET' style="margin-left: 80px">
  <button type="submit" class="btn btn-default">View DMs/Players</button>
</form>

<br>

