<h3>Dungeons and Dragons Information</h3>
<p> The database we are creating is for a campaign management system for dungeon masters, so they can have a list of NPCs and see whether the NPCs are currently in use in their campaign and whether or not they are known to the players. The primary key for NPCs and Stats tables is the NPC ID, which is a unique number for each of the NPCs.The primary key for Campaign is NPC_ID, Campaign_ID which allows the same NPC to be in different campaigns if the dungeon master wishes to share NPCs across campaigns.
</p>
<p> To have access to the resources, you must first log into a player or admin account.</p>
