<h3 style="margin-left: 10px">Dungeons and Dragons Information</h3>
<p style="padding: 5px; margin-left: 10px">
  This web application provides resources for a Dungeon Master to maintain NPCs for their campaign,<br>
  It also gives players a resource to view all the NPCs they have met so far in their campaign and<br>
  what town these NPCs reside in.
</p>
<p style="padding: 5px;margin-left: 10px"> To have access to the resources, you must first log into a player or dungeon master account.</p>
