<form action="/login" method="POST" style="margin-left: 70px">
  <label for="username">Username:</label>
  <input id="username" name="username" type="text" class="form-control" style="width: 10%"/>
  <br>
  <label for="password">Password:</label>
  <input id="password" name="password" type="password" class="form-control" style="width: 10%" />
  <br>
  <input type="submit" value="Log In" />
</form>
<p style="margin-left: 70px">NOTE: Username and Password are both case-sensitive!</p>
<a href="/addPlayer" style="margin-left: 70px">Create New Player Account</a><br>
<a href="/addDM" style="margin-left: 70px">Create New DM Account</a>