<head>
  <style>
    table, td, th {
      border: 2px solid #000;
      text-align: left;
    }

    table {
      border-collapse: collapse;
      margin-bottom: 10px;
    }

    th, td {
      padding: 5px;
    }
  </style>
</head>



<h1 style="padding-left: 80px">Player Page</h1>

<br>
<p style="font-size:20px; padding-left: 80px;">Welcome <%="#{@currentUser}"%></p>
<p style="padding-left: 80px">These are all the NPCs known to you</p>

<table style="margin-left: 80px">
  <tr>
    <th > Name </th>
    <th >Town</th>
  </tr>

  <% @results.each do |x| %>
    <tr>
      <td ><%="#{x[0]}"%></td>
      <td ><%="#{x[1]}"%></td>
    </tr>
  <%end%>
</table>

<br>

<table style="margin-left: 40px">
  <tr>
    <!--Dice Buttons-->
    <th>
      <button onclick="rollDie(4)">Roll 4-die</button>
    </th>
    <th>
      <button onclick="rollDie(6)">Roll 6-die</button>
    </th>
    <th>
      <button onclick="rollDie(8)">Roll 8-die</button>
    </th>
    <th>
      <button onclick="rollDie(10)">Roll 10-die</button>
    </th>
    <th>
      <button onclick="rollDie(12)">Roll 12-die</button>
    </th>
    <th>
      <button onclick="rollDie(20)">Roll 20-die</button>
    </th>
  </tr>

  <!--Dice Results-->
  <tr>
    <td>
      <p id="4-die"></p>
    </td>
    <td>
      <p id="6-die"></p>
    </td>
    <td>
      <p id="8-die"></p>
    </td>
    <td>
      <p id="10-die"></p>
    </td>
    <td>
      <p id="12-die"></p>
    </td>
    <td>
      <p id="20-die"></p>
    </td>
  </tr>

  <tr>
    <th colspan="6" style="text-align: center">
      <button onclick="clearDie()">Clear Rolls</button>
    </th>
  </tr>
</table>

<!-- Dice Function! -->
<script>
  function rollDie(n) {
    var x;
    x = Math.floor((Math.random() * n) + 1);
    document.getElementById(n + "-die").innerHTML = x;
  }
</script>

<script>
  function clearDie() {
    document.getElementById("4-die").innerHTML = "";
    document.getElementById("6-die").innerHTML = "";
    document.getElementById("8-die").innerHTML = "";
    document.getElementById("10-die").innerHTML = "";
    document.getElementById("12-die").innerHTML = "";
    document.getElementById("20-die").innerHTML = "";
  }
</script>