<h1>Player Page</h1>

<br>
<p style="font-size:20px">Welcome <%="#{@currentUser}"%></p>
<p>These are all the NPCs known to you</p>

<table>
  <tr>
    <th style="text-align: center"> Name </th>
    <th style="text-align: center">Town</th>
  </tr>

  <% @results.each do |x| %>
    <tr>
      <td align="center"><%="#{x[0]}"%></td>
      <td align="center"><%="#{x[1]}"%></td>
    </tr>
  <%end%>
</table>
