<p style="margin-left: 80px">You have successfully created a <b><%="#{@results[0][0]}"%></b> account with username: <b><%="#{@results[0][1]}"%></b>
  for campaign: <b><%="#{@results[0][2]}"%></b> </p>